/* 4行おきに黒の縦線 */
table th:nth-child(4n),
table td:nth-child(4n) {
    border-right: 2px solid red;
}

/* それ以外をグレーの縦線 */
table th:not(:nth-child(4n)),
table td:not(:nth-child(4n)) {
    border-right: 1px solid gray;
}


table tr:first-child{
    border-left: 1px solid gray;
}


.shift-left{
    display:block;
    position: relative;
    transform: translateX(-50%);
    z-index: 1;
}
