.root {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: rgb(184, 109, 75);
	padding: 1rem;
}
.shareButton{
	background-color: rgb(184, 109, 75);
	color: white;
	border: none;
	border-radius: 5px;
	padding: 0.5rem;
	cursor: pointer;
}

.deleteButton{
	background-color: rgb(184, 109, 75);
	color: white;
	border: none;
	border-radius: 5px;
	padding: 0.5rem;
	cursor: pointer;
}

@keyframes continuousRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate {
  animation: continuousRotate 2s linear infinite;
}

@keyframes shake {
	0% { transform: translate(0, 0); }
	25% { transform: translate(-1px, 1px); }
	50% { transform: translate(1px, -1px); }
	75% { transform: translate(-1px, -1px); }
	100% { transform: translate(0, 0); }
}
